$text-dark: #333333;
$font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif !important;
$font-size-cards: 0.9rem !important;
$font-8-5: 0.85rem !important;
$farmaoffers-primary: #4CBB17;
$farmaoffers-gray: #C9D7E2;
$farmaoffers-light-gray: #C9D7E2;
$max-size-mobile: 425px;

@mixin filters-border {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

@mixin filters-title-background {
    padding: 0.5rem 1rem 0 1rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

@mixin filters-title {
    font-weight: bold;
    color: #333333;
    font-size: 0.85rem;
    font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
}

// .bg-header {
//     width: 100%;
//     position: absolute;
//     top: 28px;
//     @media (min-width: 768px) {
//         top: 34px;
//     }
// }
// .bg-footer {
//     width: 100%;
//     position: absolute;
//     top: -100px;
//     @media (min-width: 768px) {
//         top: -240px;
//     }
// }
body {
    font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
}

main {
    z-index: 0;
}

.text-dark-fo {
    color: $text-dark !important;
}

.font-montserrat {
    font-family: $font-family;
}

.font-size-cards {
    font-size: 0.75rem;

    @media (min-width: 768px) {
        font-size: $font-size-cards;
    }
}

.font-8-5 {
    font-size: $font-8-5;
}

.text-blue {
    color: #358fd8;
}

.text-green2 {
    color: #7ccd56 !important;
}

.bg-gray {
    background-color: #f2f4f5 !important;
}

.bg-dark-gray {
    background-color: #8a8e88 !important;
    color: #feffff !important;
}

.bg-dark-gray:hover {
    background-color: #a7aba5 !important;
}

.br-10 {
    border-radius: 7px !important;
}

#cart_products th,
#cart_products td {
    border-top: none;
}

#cart_products thead th {
    border-bottom: none;
}

.card-product-name {
    font-family: $font-family;
    font-size: $font-size-cards;

    a {
        color: #333333;
        font-weight: bold;
    }
}

.alert-farmaoffers {
    background-color: #eaf2fc;
    border: 1px solid rgba(131, 176, 212, 0.43) !important;
    border-radius: 7px !important;
    color: #1f384c;

    a {
        color: #358fd8;
    }
}

// HEADER
.top-links-header {
    padding: 0.5rem;
    background-color: #dfe4e6;
}

.container--content {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.5rem;

    @media (min-width: 768px) {
        justify-content: end;
        font-size: 0.75rem;
    }

    span {
        margin: 0 5px;
    }

    .fa-facebook-square {
        color: #0f6ed1;
    }

    .fa-instagram {
        color: #e9315f;
    }

    .fa-twitter-square {
        color: #50bdf9;
    }
}

.oe_search .oe_search_box {
    border-radius: 15px 0 0 15px;
    font-size: 0.85rem;

    @media (min-width: 768px) {
        font-size: 1rem;
    }
}

.input-group-btn {
    border: 1px solid #000;
    background-color: #000;
    color: #f8f8f8;
    border-radius: 0 15px 15px 0;
}

.logo-content {
    margin: 0 auto 0.75rem auto;
    width: 75%;

    @media (min-width: 1024px) {
        margin: inherit;
        width: auto;
    }
}

.cart-header {
    margin-top: 0.75rem;

    @media (min-width: 992px) {
        margin-top: 0;
    }
}

.container--prescription {
    display: flex;
    border-radius: 15px;
    align-items: center;
    padding: 0.25rem 0.5rem;
    margin-right: 0.25rem;

    .container--icon {
        margin-right: 0.5rem;

        i {
            font-size: 1.2rem;
        }
    }

    .text-prescription {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        font-size: 0.75rem;
        width: 110px;
    }
}

.shopping-icon {
    i {
        padding: 10px 10px;
        font-size: 1rem;
        border-radius: 28px;
    }
}

.counter {
    font-size: 0.85rem;
}

.hr-price {
    background: #f1f1f1;
    text-align: left;
    margin: 0;
}

header nav.navbar {
    border-radius: 5px;

    @media (max-width: 425px) {
        border-radius: 0px;
    }
}

header.container {
    @media (max-width: 425px) {
        padding-right: 0px;
        padding-left: 0px;
    }
}

header .navbar-dark .navbar-nav .nav-link,
header .navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: bold;
    color: #f8f8f8;
    font-size: 0.75rem;
    font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
}

header .navbar-dark .navbar-nav .nav-link:hover,
header .navbar-light .navbar-nav .nav-link:hover,
header .navbar-dark .navbar-nav .nav-link:focus,
header .navbar-light .navbar-nav .nav-link:focus {
    color: #000000;
}

.nav-item .dropdown-menu {
    background-color: #3e9017;
}

.register-text {
    color: #000000;

    @media (min-width: 576px) {
        color: #4cbb17;
    }
}

.register-text:hover {
    color: #feffff
}

.black-rectangle {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 23%;
    background-color: black;
    border-radius: 0 5px 5px 0;

    @media (min-width: 576px) {
        display: block;
    }

    @media (min-width: 768px) {
        width: 5%;
    }
}

.black-rectangle-skew {
    display: none;
    position: absolute;
    top: 0;
    right: 40px;
    height: 100%;
    width: 65%;
    background-color: black;
    transform: skewX(25deg);

    @media (min-width: 576px) {
        display: block;
    }

    @media (min-width: 768px) {
        right: 20px;
        width: 35%;
    }

    @media (min-width: 992px) {
        width: 26%;
    }
}

header.container .navbar {
    padding: 0rem 1rem;
}

.dropdown-profile {
    .dropdown-menu {
        top: 110%;
        right: -25px;
        left: auto;
        min-width: 9.45rem;
        background-color: #4cbb17;

        li:hover {
            background-color: #3e9912;
        }
    }
}



.toplinks {
    z-index: 1;
    width: 100% !important;
    max-width: 93% !important;
    text-align: center !important;
    display: flex !important;
}

.toplinks>.header.links {
    vertical-align: middle;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center !important;
    flex: 1 !important;

    li {
        margin: 0 0.5rem;
        font-size: 0.75rem;

        @media (min-width: 375px) {
            font-size: 1rem;
        }

        a {
            font-size: 0.6rem;
            text-transform: uppercase;
            font-weight: bold;
            font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;

            @media (min-width: 375px) {
                font-size: 0.75rem;
            }
        }
    }

    li.dropdown-item-profile {
        margin: 0;
    }

    li.only-bar {
        font-size: 0.75rem;
        margin: 0;

        @media (min-width: 375px) {
            font-size: 1rem;
        }
    }
}

// .toplinks:before {
//     content: '\f007';
//     font-family: FontAwesome;
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     font-synthesis: weight style;
//     font-stretch: normal;
//     font-size-adjust: none;
//     font-language-override: normal;
//     font-kerning: auto;
//     font-feature-settings: normal;
//     line-height: 1;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     text-align: center;
//     font-size: 14px;
//     margin-right: 3px;
//     display: inline-block;
//     vertical-align: middle;
//     color: #888;
// }
//LOGIN
main {
    .basic-bg {
        width: 100%;
        height: auto;
        margin: 0;
        background-image: url("../img/bg-basic.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .basic-bg-all-offers {
        background-image: none;
        background-color: white;
    }

    .basic-bg-login {
        padding: 0;

        @media (min-width: 768px) {
            padding: 3.5rem 0;
        }
    }

    .basic-bg-thanks {
        padding: 3.5rem 0;

        @media (min-width: 768px) {
            padding: 11rem 0;
        }
    }

    .basic-bg-signup {
        padding: 0.5rem 0;
    }

    .basic-bg-reset {
        padding: 4.6rem 0;
    }
}

.container-fo {
    max-width: 100%;
    padding: 0;

    @media (min-width: 2000px) {
        max-width: 960px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.login-message div {
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    font-weight: bold;
    padding: 1rem;
    line-height: 1.4;

    @media (min-width: 768px) {
        font-size: 1.5rem;
    }

    @media (min-width: 992px) {
        width: 100%;
    }

    @media (min-width: 1400px) and (max-width: 2000px) {
        width: 80%;
    }

    @media (min-width: 2000px) {
        width: 75%;
    }
}

.login-form-custom {
    font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
    background-color: #feffff;
    padding: 1rem 3rem;
    border-radius: 10px;
    margin: 0 0 1.5rem 0;

    @media (min-width: 768px) {
        margin: 1rem 1rem 1.5rem 1rem;
    }

    .form-group input,
    .form-group textarea {
        border: none;
        background-color: #f2f4f5;
        border-radius: 3px;
    }
}

.login-img {
    width: 100%;
    margin: 0 auto;

    @media (min-width: 768px) {
        width: 250px;
    }
}

.login-heading {
    margin: 0.75rem 0 1rem 0;

    h2 {
        font-weight: bold;
        font-size: 1.25rem;
        font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;

        @media (min-width: 768px) {
            font-size: 1.75rem;
        }
    }

    h3 {
        font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
        font-size: 0.75rem;

        @media (min-width: 768px) {
            font-size: 1rem;
        }
    }

    h2.reset-h2 {
        color: rgba(51, 51, 51, 0.87);
        font-size: 1.35rem;
    }
}

.oe_login_buttons {
    .login-button-custom {
        font-weight: bold;
        border-radius: 10px;
    }
}

.helper-links {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;

    @media (min-width: 768px) {
        font-size: 0.85rem;
    }

    a {
        color: rgba(53, 143, 216, 0.87);
    }
}

.oe_login_form_custom {
    max-width: 100%;
    position: relative;
    margin: 50px auto;

    @media (min-width: 992px) {
        max-width: 80%;
    }
}

span.span-input-tip {
    font-size: 10px;
    margin-left: 5px;
}

.field-login {
    .reset-password-label {
        margin: 1rem 0 0.75rem 0;
        font-size: 1.5rem;
        font-weight: 500;
    }
}

// SHOP
.shop-banner {
    background-image: url("../img/bg-basic.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 15px 10px 15px;

    h2 {
        color: white;
        font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
        font-weight: bold;

        @media (min-width: 768px) {
            font-size: 2rem;
        }
    }

    @media (min-width: 768px) {
        height: 10vh;
    }
}

#products_grid_before {
    margin-top: 1rem;

    @media (min-width: 768px) {
        margin-top: 3rem;
        ;
    }
}

.fo-side-list {
    @include filters-border();

    div {
        @include filters-title-background();

        h3 {
            @include filters-title();
        }
    }

    ul {
        padding: 0 1rem 0.5rem 1rem;
        font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
        font-size: 0.85rem;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #4cbb17;
        font-weight: bold;
        background-color: white;
    }
}

.fo-side-price {
    @include filters-border();
    list-style-type: none;

    div.tp-filter-attribute-title {
        @include filters-title-background();

        h3 {
            @include filters-title();
        }
    }

    div.tp-filter-attribute-collapsible-area,
    ul {
        padding: 0.5rem 1rem;
    }

    .brand-list {
        @include filters-title-background();

        h3 {
            @include filters-title();
        }
    }

    ul {
        .span-ul {
            font-size: 0.75rem;
            font-family: "Montserrat", "Odoo Unicode Support Noto", sans-;
            font-weight: bold;
        }
    }
}

#wrap.js_sale .tp-filter-attribute-scrollbar {
    font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
    font-size: 0.85rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    border-color: #4cbb17;
    background-color: #4cbb17;
}

#wrap.js_sale #wsale_products_attributes_collapse .tp-price-filter .irs--square .irs-handle {
    border-color: #999999 !important;
}

#wrap.js_sale #wsale_products_attributes_collapse .tp-price-filter .irs--square .irs-bar {
    background: #167bcb !important;
}

.wrapper_search_brand {
    display: flex;
    align-items: center;
    margin: 1rem 1rem 0.5rem;
    border-radius: 10px;
    padding: 0.25rem 0.5em;
    background-color: #c9d7e2;
    border: 1px solid #dddddd;
    height: 35px;

    input.wrapper_search_brand--input {
        height: inherit;
        width: 90%;
        background-color: #c9d7e2;
        border: 1px solid #c9d7e2;
        outline: none;
    }

    span {
        display: flex;
        align-items: center;
        height: inherit;
        width: 10%;
        padding: 0 0.25rem;
        background-color: #c9d7e2;

        i {
            color: #656c71;
        }
    }
}

#products_grid .oe_product {
    border: none !important;
}

.border-product-item {
    border: none;
}

.o_ribbon_wrapper_fo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    margin: 0.25rem;

    .o_ribbon {
        font-size: 0.9rem;
    }

    .o_ribbon_fo {
        min-width: 55px;
        display: inline-block;
        padding: 0.9rem 0.2rem;
        border-radius: 30px;
    }
}

.o_wsale_product_btn {

    .o_add_wishlist,
    .o_add_compare {
        display: none;

        @media (min-width: 768px) {
            display: none !important;
        }
    }
}

.oe_product_cart .o_wsale_product_btn .add-shopcart-indicator div {
    display: inline-block;
    background-color: #4CBB17;
    color: #f3ffff;
    font-weight: bold;
    padding: 0.65rem 0.5rem;
    border-radius: 25px 0 0 25px;
    opacity: 0.8;
    transform: scale(0);
    transition: transform ease 200ms 0s;
}

.oe_product_cart .o_wsale_product_btn .add-shopcart-indicator div:hover {
    background-color: #4FC718;
    opacity: 1;
}

.oe_product_cart:hover .o_wsale_product_btn .add-shopcart-indicator div {
    transform: scale(1);
}

.oe_product_cart .o_wsale_product_information {
    .o_wsale_product_btn {
        top: -7vh;
        opacity: 0.8;
    }
}

div.content-section {
    ul {
        list-style-type: none;
    }
}

.aditional-info ul li {
    display: flex;
    align-items: center;

    img {
        width: 50px;
        margin-right: 1rem;
    }

    p {
        flex: 1;
    }
}

.same-compound {
    display: flex;
    align-items: start;

    ul.inner-img {
        img {
            width: 50px;
            margin-right: 1rem;
        }
    }

    ul.inner-list {
        padding: 0;

        li a {
            color: #0083c1;
        }
    }
}

section {
    .show-more {
        float: right;
        color: #0083c1;
    }
}

.hr-aditional-info {
    width: 92.5%;
    margin-right: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.product-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto auto auto;

    .product-grid-breadcrumb {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .product-grid-main {
        grid-column-start: 1;
        grid-column-end: 6;

        @media (min-width: 768px) {
            grid-column-end: 4;
        }

        @media (min-width: 992px) {
            grid-column-end: 5;
        }
    }

    .product-grid-sidebar {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;

        @media (min-width: 768px) {
            grid-column-start: 4;
            grid-row-end: 4;
        }

        @media (min-width: 992px) {
            grid-column-start: 5;
        }
    }
}

.product-grid-sidebar {
    .fo-side-list {
        ul li a {
            color: #666666;
            font-weight: bold;
        }

        ul li a:hover {
            color: #358fd8;
        }
    }
}

.add_plus_quantity #add_to_cart {
    text-decoration: none;
    margin: 0;
    display: flex;
    align-items: center;

    i {
        background-color: #4cbb17;
        color: white;
        padding: 0.75rem;
        border-radius: 25px;
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }

    span {
        font-weight: bold;
        color: #0083c1;
        letter-spacing: 0.02rem;
    }
}

.add_plus_quantity {
    #add_to_cart {
        margin-top: 0 !important;
    }

    .css_quantity {
        input {
            border-right: none;
        }
    }

    .disabled {
        pointer-events: none;
    }
}

.button-wrapper {
    padding: 0 0.15rem;
    border: 1px solid #e5e5e5;

    .input-group-append {
        margin-left: 0;
    }

    div a {
        border: none;
    }

    a.js_add_cart_json {
        display: flex;
        padding: 0 0.71rem;
        height: 18px;
        border-color: white;
    }

    a.js_add_cart_json:hover,
    a.js_add_cart_json:focus {
        background-color: #4cbb17;
        color: white;
        border-color: white;
    }
}

.offers-for-you .accordion>.card .card-header {
    h2 {
        display: grid;
        grid-template-columns: 20% 80%;

        button {
            background-color: #1f384c;
            color: white;
            font-size: 0.75rem;
        }
    }
}

.row #product_details {
    padding-left: 15px;
}

.info-section-dd {
    .nav-tabs {
        border-bottom: none;

        .nav-item {
            a.nav-link {
                border-color: #dddddd;
                color: #333333;
                background-color: #feffff;
            }

            a.active {
                border-color: white;
                border-radius: 7px;
                color: #feffff;
                background-color: #333333;
            }
        }
    }
}

#product_detail #o-carousel-product .carousel-outer {
    border-color: #c9d7e2;
    border-radius: 5px;
}

#product_detail #o-carousel-product .carousel-control-prev,
#product_detail #o-carousel-product .carousel-control-next {
    align-items: end;
    top: 25%;
}

.bought-together .owl-nav,
.client_reviews .owl-nav,
.top_offers .owl-nav,
.our_tips .owl-nav {
    position: absolute;
    right: 0;
    top: -55px;

    button:focus {
        outline: none;
    }
}

.top_products .owl-nav {
    position: absolute;
    right: 0;
    top: -40px;

    button:focus {
        outline: none;
    }
}

.client_reviews .owl-carousel {
    background-color: #f8f8f8;
    padding: 2rem 1.5rem;
}

.client_reviews {
    hr {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .owl-carousel.owl-drag .owl-item {
        position: relative;
        border-radius: 5px !important;
        box-shadow: 0px 9px 40px 0 rgba(141, 155, 166, 0.2);
        background-color: white;

        i.fa-quote-left {
            color: #4cbb17;
            padding-top: 1rem;
            padding-left: 1rem;
        }

        i.fa-quote-right {
            color: #4cbb17;
            padding-bottom: 1rem;
            padding-right: 1rem;
        }

        div.o_default_snippet_text {
            padding: 0.25rem 1.5rem;
            font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
            font-size: 0.85rem;
            font-style: italic;
            max-height: 120px;
            overflow-y: auto;
        }

        hr.hr-reviews {
            margin: 0;
            position: absolute;
            bottom: 0;
            width: 40%;
            left: 0;
            border-bottom: 3px solid #4cbb17;
        }
    }
}

.top_offers {
    .img-offer {
        border-top: 2px solid #c9d7e2;
        border-bottom: 2px solid #c9d7e2;
        border-right: 2px solid #c9d7e2;
        border-left: 2px solid #c9d7e2;
        --max-height: 165px;
        --min-height: 165px;

        img {
            --width: 100%;
            --max-height: inherit;
            --padding: 1rem;
        }
    }

    .title-offer {
        text-transform: uppercase;
        font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
        font-weight: bold;
        color: #333333;
        max-height: 80px;
        padding: 0.5rem 0.45rem;
        line-height: 0.95rem;
        font-size: 0.75rem;
        overflow-y: auto;
    }
}

.top_offers .active:first-child .img-offer {
    border-left: 2px solid #c9d7e2;
}

.owl-carousel .widget-products li {
    .img {
        width: 90%;
        height: auto;
    }

    .product {
        width: 90%;
    }
}

.owl-item {
    .widget-products li .product .add-cart-btn {
        white-space: normal;
        color: #0083c1;
    }
}

div.collapse .card-body-offers {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    justify-content: space-between;

    img {
        width: 40%;
    }
}

.input-group .oe_search .oe_search_box {
    font-size: 0.75rem;
}

.td-qty .css_quantity {
    div a {
        border-radius: 25px;
    }

    input.quantity {
        border: none;
        border-bottom: 1px solid #e5e5e5;
    }

    .btn-cart-minus {
        color: #333333;
        background-color: #e2dfdf;
        border-color: #e2dfdf;
    }

    .btn-cart-minus:hover {
        color: #333333;
        background-color: #cacbcd;
        border-color: #cacbcd;
    }

    .btn-cart-more {
        color: #feffff;
        background-color: #4cbb17;
        border-color: #4cbb17;
    }

    .btn-cart-more:hover {
        color: #FFFFFF;
        background-color: #3e9913;
        border-color: #3a8e11;
    }
}

#order_total_untaxed td,
#order_total_taxes td,
#order_total_saving td,
#order_total td,
#order_delivery td {
    padding: 0.25rem 0;
}

.order_total_f2 {
    border-top: 1px solid #d9d9d9 !important;
    margin-top: 1rem;
    padding-top: 1rem;
}

.cart-box {
    border-radius: 7px !important;
    box-shadow: 0px 9px 40px 0 rgba(141, 155, 166, 0.2);
    border: solid 1px #c9d7e2 !important;
}

.cart-box-nsh {
    border-radius: 7px !important;
    border: solid 1px #c9d7e2 !important;
}

.select_pickup {
    .custom-control-input:checked~.custom-control-label::before {
        border-color: white;
    }

    .custom-control-input:focus~.custom-control-label::before {
        box-shadow: none;
    }
}

.btn-ship {
    float: right;
}

.checkout_autoformat {
    font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
    font-size: 0.85rem;
}

.form-row .form-group input,
.form-row .form-group select {
    border: none;
    background-color: #f2f4f5;
}

#branch_office_select {
    outline: none;
}

.title-thanks {
    font-size: 1.2rem;

    @media (min-width: 768px) {
        font-size: 2rem;
    }
}

.table-responsive .table th,
.table td {
    border-top: none;
}

main div.o_portal_wrap .o_portal_my_doc_table td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.o_portal_wrap .o_portal_my_doc_table th {
    text-transform: uppercase;
    font-weight: bold;
}

body #wrapwrap.o_portal {
    background-color: white !important;
}

.btn-outline-gray-fo {
    border: 1px solid #d7d7d7 !important;
    background-color: #feffff !important;
    outline: none;
}

.btn-outline-gray-fo:hover {
    background-color: #d7d7d7 !important;
}

.btn-outline-gray-fo:focus {
    box-shadow: none !important;
}

.btn-gray-fo {
    border: 1px solid #a49e9e !important;
    background-color: #a49e9e !important;
    color: #feffff !important;
    outline: none;
}

.btn-gray-fo:hover {
    background-color: #d7d7d7 !important;
}

.btn-gray-fo:focus {
    box-shadow: none !important;
}

.pagination-fo {
    li.page-item {
        border: 1px solid #d7d7d7;
        border-radius: 5px;
        padding: 0.25rem 0;
        margin: 0 0.1rem;

        a.page-link {
            border: none;
        }

        a.page-link:focus {
            box-shadow: none !important;
        }
    }

    li.page-item.active {
        background-color: #4cbb17;
        border: 1px solid #4cbb17;

        a.page-link {
            font-weight: bold;
            color: white !important;
        }
    }
}

.stripe_info {
    div div {
        max-height: 70px;
        overflow-y: auto;
        line-height: 1rem;
    }

    div.stripe_info--item:nth-child(1) {
        background-color: #3f474d;
    }

    div.stripe_info--item:nth-child(2) {
        background-color: #398117;
    }

    div.stripe_info--item:nth-child(3) {
        background-color: #1f384c;
    }

    div.stripe_info--item:nth-child(4) {
        background-color: #a49e9e;
    }
}

.btn:focus,
.btn.focus {
    box-shadow: none !important;
}

.card-our-tips {
    border-radius: 5px;
    border: 1px solid #c9d7e2;
    background-color: #4cbb17;
    color: #feffff;
    padding: 1rem;
    min-height: 130px;
    max-height: 130px;
    line-height: 1.2rem;

    div {
        overflow-y: auto;
    }

    .img {
        width: 100%;
    }
}

.top_products .widget-products {
    border-top: 2px solid #c9d7e2;
    border-bottom: 2px solid #c9d7e2;
    border-right: 2px solid #c9d7e2;

    li {
        margin: 0;

        .img {
            border: none;
            margin-top: 0;
            min-height: 180px;
            max-height: 180px;

            img {
                max-height: inherit;
            }
        }

        .product {
            background-color: #f5f6f8;
            min-height: 100px;
            max-height: 100px;
            overflow-y: auto;
        }

        .name {
            line-height: 1rem;
        }

        .icon-right {
            font-size: 0.8rem;
            background-color: #4cbb17;
            padding: 0.05rem 0.25rem;
            border-radius: 50%;
        }
    }
}

.top_products .owl-item:first-child .widget-products {
    border-left: 2px solid #c9d7e2;
}

.our_tips .owl-carousel .owl-item {
    width: 260px !important;
}

section.top_offers .owl-item {
    width: 170px !important;
    margin-left: auto;
    margin-right: 10px;
}

.our_tips .owl-carousel .owl-item:nth-child(1) {
    width: 300px !important;

    .card-our-tips {
        
        --background-color: #1f969a !important;
        background-color: #4cbb17 !important;
    }
}

.offer-card .card {
    max-height: 260px;
    min-height: 260px;
}

.breadcrumb {
    font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
}

.breadcrumb .breadcrumb-item a {
    color: #358fd8;
}

.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: #358fd8;
    content: ">";
}

.share-with div {

    a {
        text-decoration: none;
        color: #858080;

        i {
            font-size: 1.1rem;
        }
    }

    a:hover {
        color: #1c9edc;
    }
}

.add_plus_quantity .css_quantity .js_add_cart_json:active,
.add_plus_quantity .css_quantity .js_add_cart_json:focus {
    border: none !important;
}

.add_plus_quantity .css_quantity .button-wrapper a.js_add_cart_json:hover,
.add_plus_quantity .button-wrapper a.js_add_cart_json:focus {
    color: #0083c1;
}

#faqsAccordion .card-body {
    color: #555555;
}

.accordion .card {
    border: none;

    div.collapse,
    div.card-header {
        border: 1px solid rgba(0, 0, 0, 0.125);
    }
}

// FOOTER
.border-top-footer {
    border-top: 0.75rem solid black;
}

.feature-1-position {
    top: -25px;
    right: 0;
    width: 200px;
    z-index: 1;

    @media (min-width: 768px) {
        top: -32px;
        width: 280px;
    }
}

.logo-footer {
    width: 75%;
    margin: 0 auto;

    @media (min-width: 768px) {
        margin: 0 15px;
        width: 300px;
    }
}

.title-block-footer {
    text-transform: uppercase;
    font-weight: bold;
}

.content-block-footer {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 10px 0;
    }
}

.call-number {
    font-weight: bold;
    font-size: 1.25rem;
}

.title-follow-us {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.75rem;
}

.social-media-icons {
    width: 35px;
    //filter: $svg-color;
}

.footer_copyright {
    display: flex;
    background-color: black;
    height: 60px;
    align-items: center;
    color: #f8f8f8;
    font-size: 0.75rem;

    @media (min-width: 768px) {
        font-size: 1rem;
    }
}

div .o_footer a:not(.btn) {
    color: #666666;
}

//CHANGE UPPERCASE
div#product_option_block {

    a,
    button {
        text-transform: uppercase;
    }
}

.btn {
    font-size: 1rem;
}

.count-float-badge {
    min-width: 24px;
    height: 24px;
    background-color: #444;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    padding: 0 5px;
    position: absolute;
    top: -9px;
    left: 26px;
    z-index: 10;
}

@media (min-width: 1200px) {
    .resume-total {
        position: absolute;
        width: 100%;
        left: 0;
    }
}

.s_top_offers_banner {
    .small-image {
        height: auto;
    }

    .main-image {
        height: auto;
    }
}

@media (min-width: 1200px) {
    .small-image {
        height: 250px !important;
    }

    .main-image {
        height: 100% !important;
    }
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.2rem !important;
}
.breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0.2rem !important;
  }

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "/";
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }

  .whatsapp-icon {
    margin-top:13px;
  }


.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.2rem !important;
}
.breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0.2rem !important;
  }

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "/";
}


.splide__pagination {
    display: none;
  }

  .splide__arrow {
    display: none;
  }

  .splide__slide img {
      width: 100%;
      height: 4vh;
  }

.o_wsale_product_grid_wrapper_1_1{
    padding: 10vh;
}

#products_grid table {
    background: #DFE4E6;
}

.farmaoffers-card {
    border: 1px solid $farmaoffers-gray !important;
}

.text-color-green {
    color: $farmaoffers-primary !important;
}
.text-color-light-gray{
    color: $farmaoffers-light-gray !important;
}

.only-mobile {
    display: none;

    @media (max-width: $max-size-mobile) {
        display: initial;
    }
}

.hide-mobile {

    @media (max-width: $max-size-mobile) {
        display: none;
    }
}

.gap-1 {
    gap: 0.25rem !important
}

#top-slider-carousel .container {

    @media (max-width: $max-size-mobile) {
        padding: 0 0;
    }
}

.carousel.slide {

    @media (max-width: $max-size-mobile) {
        margin: 0 0 !important;
    }
}

.o_slideshow .container {

    @media (max-width: $max-size-mobile) {
        padding: 0 0;
    }
}

@media (max-width: 425px) {
    .top_products .widget-products li .name {
        font-size: 0.65rem !important;
    }
}

.fo-icon-category {
    object-fit: cover;
    max-height:20px;
    max-width:20px;
}

span.size-20 {
    font-size: 20px;
    font-variation-settings: 'OPSZ' 20;
}

.section_banner {
    .img {
        position: relative;
    }
    .image {
        height: 10vh;
        width:100vw;
    }
    .image h1 {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        font-size: 2rem;
        width: 100%;
        height: 26px;
        padding: 0;
        margin: 0;
        margin-top: -13px; /* 1/2 height */
        text-align: center;
        color: white;
        font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
        font-weight: bold;

        @media (max-width: $max-size-mobile) {
            height: 100%;
            margin-top: -34px;
        }
    }
    .image img {
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        border-radius: 5px;
        object-fit: cover;
        object-position: bottom
    }
}

.fo-category-name {
    color:black;

    @media (max-width: $max-size-mobile) {
        font-size: 1rem;
    }
}

.owl-carousel .owl-stage{
    @media (max-width: 400px) and (min-width: 300px) {
        width: 960px !important ;
    }

    @media (max-width: 399px) and (min-width: 200px) {
        width: 1500px !important ;
    }
}

.filter-mobile-product{
    display: block !important;

    @media (max-width: 549px) and (min-width: 200px) {
        display: none !important;
    }
}

#navbarMainMenu{
    @media  (min-width: 760px) {
        position: absolute;
        z-index: 10;
    }
}

.navbar.navbar-expand-md.navbar-light.position-relative {
    @media  (min-width: 760px) {
        padding: 6px 1rem;
    }
}

.font-montserrat.h5.font-weight-bold.oe_price.text-primary{
    font-size:  1.25rem;
}

.h6.font-montserrat.oe_default_price{
    font-size: 1rem;
}