ul.category-nav {
    display: none;
}

ul.category-nav.category-nav-mobile {
    display: block;
}

/* .category-main-option-menu:hover ul.category-nav {
    display: block;
} */

.close-item {
    cursor: pointer;
}

li.homepage-categ-item-mob {
    font-size: 0.9rem;
}

li.homepage-categ-item-mob a.nav-link:hover {
    color: #16a2ff;
}

li.homepage-categ-item-mob a.nav-link {
    width: max-content;
}

*::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);*/
	background-color: #F5F5F5;
}

*::-webkit-scrollbar {
	width: 3px;
    height: 3px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
	background-color: #4cbb17;
    --background-color: black;
    border-radius: 10px;
}

li.nav-item.category-header:hover {
    background-color: #c6b7b750;
}

.new-patient-program-btn:hover {
    background-color: #c6b7b750;
}

.basic-bg-all-offers #top_quote{
    color: #4cbb17;
}

.alloffers-img {
    border: 2px solid #c9d7e2;
}